---
title: Ministries
identity: mens
layout: default
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=jekyl, initial-scale=1.0">
    <title>{{page.title}}</title>
</head>
<body>
    <main>
        {% for item in site.data.ministries %}
            {% if item.identity == page.identity %}
                <h1>{{item.name}}</h1>
                {% for section in item.sections %}
                    <article>
                        <h2>{{ section.heading }}</h2>
                        {% for paragraph in section.paragraphs %}
                            <p>{{ paragraph }}</p>
                        {% endfor %}
                    </article>
                {% endfor %}
            {% endif %}
        {% endfor %}
    </main>
</body>
</html>