<header class="drop-shadow">
    <nav><h1 class="heading-font title special-link"><a href="{{ site.url }}">CCAV</a></h1></nav>
    <nav>
        <ul class="mainmenu">
            {% for item in site.data.navigation %}
                <li>
                    <a href="{{ item.link }}" class="cta-button">{{item.name}}
                        {% if item.submenu and item.submenu.size > 0 %}
                        <span class="material-symbols-outlined">arrow_drop_down</span>
                        {%endif%}
                    </a>
                    {% if item.submenu and item.submenu.size > 0 %}
                        <ul class="submenu">
                            {% for subitem in item.submenu %}
                            <li><a href="{{ subitem.link }}">{{ subitem.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</header>