/* Articles --> No longer being used? */
.article-header {
    margin: 0;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--white);
    font-variant: small-caps;
}

.article-header * {
    margin: .7em;
}

/* Full Width Banners */
.banner {
    text-align: center;
    position: relative;
    width: 100%;
    height: 300px;
    /* Adjust the height as needed */
    overflow: hidden;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 30%;
}

.banner .banner-text-container {
    background: radial-gradient(ellipse 45% 30% at center, #00000022, #00000000);
    padding: 100px;
    padding-left: 200px;
    padding-right: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.dark-container {
    background-color: hsl(0, 0%, 13%);
    min-height: 50vh;
    padding: 100px;
    padding-block: 20px;
}


.light-container {
    background-color: var(--white);
    min-height: 50vh;
    color: var(--white);
    padding: 100px;
    padding-block: 20px;
    box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.445);
}

.light-container>h2,
.light-container>h3 {
    color: #1b1b1b;
    font-size: 3rem;
    text-align: center;
}

.dark-container>h2,
.dark-container>h3 {
    color: var(--white);
    font-size: 3rem;
    text-align: center;
}

.light-container .preview-card {
    background-color: #1b1b1b;
    box-shadow: 0px 3px 6px hsla(14, 98%, 15%, 0.61);

}

.preview-card-container {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    flex-shrink: 1;
}

.preview-card {
    box-sizing: border-box;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
    border-radius: 10px;
}

.preview-card li {
    margin: 5px;
}

.preview-card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

.cta-button {
    display: block;
    text-decoration: none;
    padding: 10px;
    background-color: #e9d419;
    color: black;
    font-weight: 600;
    width: fit-content;
    border-radius: 10px;
    transition: padding 0.4s cubic-bezier(.59, -1.28, .43, 1.77), box-shadow 0.4s cubic-bezier(.59, -1.28, .43, 1.77);
}

.cta-button:hover {
    padding: 13px;
    box-shadow: 0px 3px 6px rgba(128, 128, 128, 0.377);
}

.button {
    display: block;
    align-content: center;
    text-decoration: none;
    padding: 10px;
    background-color: #1b1b1b;
    color: var(--white);
    cursor: pointer;
    font-weight: 600;
    width: fit-content;
    border-radius: 10px;
    transition: padding 0.4s cubic-bezier(.59, -1.28, .43, 1.77), box-shadow 0.4s cubic-bezier(.59, -1.28, .43, 1.77);
    height: fit-content;

}

.light-container .button {
    background-color: #1b1b1b;
    color: var(--white);
}

.dark-container .button {
    background-color: var(--white);
    color: #1b1b1b;
}

.button.light {
    background-color: var(--accent);
}

/* Alert-Box for test site */
.alert-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent);
    z-index: 1000;
}

.alert-box button {
    background: none;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 100px;
    padding-block: 20px;
    gap: 20px;
}

.span-2 {
    grid-column: span 2;
}

.profile-card img {
    max-width: 98%;
    border-radius: 2px;
    object-fit: cover;
}



.carousel-container {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-items: center;

}

.carousel-view {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    box-sizing: border-box;
    gap: 10px;
    overflow: hidden;
    width: 90%;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, white 5%, white 95%, rgba(0, 0, 0, 0) 100%);
    padding: 50px;
}

.carousel-view>* {
    margin-left: 1rem;
    margin-right: 1rem;
    align-self: center;
    height: 100%;
}

.carousel-view>*:first-child {
    margin-left: calc((22vw/2 * 1.45));
}

.carousel-view>*:last-child {
    margin-right: calc((22vw/2 * 1.45));
}

.position {
    font-size: 0.75rem;
    color: #797979;
}

.profile-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 20vw;
    gap: .6rem;
}

.carousel-card-active {
    scale: 1.1;
    transition: scale .3s;
}


@media(min-width:1250px) {
    .preview-card-container {
        align-items: stretch;
        flex-direction: row;
        padding: 100px;
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 50px;
    }

    .preview-card {
        padding: 1vw;
    }

    .alert-box {
        position: absolute;
    }
}

@media(max-width:1249px) {
    .preview-card-container {
        align-items: center;
        flex-direction: column;
        padding: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 30px;
    }

    .preview-card {
        padding: 15px;
    }

    .alert-box {
        position: relative;
    }
}