/* Articles --> No longer being used? */
.article-header {
    margin: 0;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    color: var(--white);
    font-variant: small-caps;
}

.article-header * {
    margin: .7em;
}

/* Full Width Banners */
.banner {
    text-align: center;
    position: relative;
    width: 100%;
    height: 300px;
    /* Adjust the height as needed */   
    overflow: hidden;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 30%;
}

.banner .banner-text-container {
    background: radial-gradient(ellipse 45% 30% at center, #00000022, #00000000);
    padding: 100px;
    padding-left: 200px;
    padding-right: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.preview-card-container {
    display: flex;
    justify-content: space-around;
    flex-grow: 1;
    flex-shrink: 1;
}

.preview-card {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--white);
}

.preview-card li {
    margin: 5px;
}

.preview-card-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 10px;
}

.cta-button {
    display: block;
    align-self: flex-end;
    text-decoration: none;
    padding: 10px;
    background-color: var(--white);
    color: var(--secondary);
    font-weight: 600;
    width: fit-content;
}

.cta-button:hover {
    background: var(--background-elements);
}

.button {
    padding: 5px;
    margin: 0px;
    border-radius: 3px;
}

.button.light {
    background-color: var(--accent);
}

/* Alert-Box for test site */
.alert-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent);
    z-index: 1000;
}

.alert-box button {
    background: none;
}

@media(min-width:1250px) {
    .preview-card-container {
        align-items: stretch;
        flex-direction: row;
        padding: 100px;
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 50px;
    }

    .preview-card {
        padding: 20px;
    }

    .alert-box {
        position: absolute;
    }
}

@media(max-width:1249px) {
    .preview-card-container {
        align-items: center;
        flex-direction: column;
        padding: 25px;
        padding-top: 20px;
        padding-bottom: 20px;
        gap: 30px;
    }

    .preview-card {
        padding: 15px;
    }

    .alert-box {
        position: relative;
    }
}