header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center ;
    gap: 100px;
    padding: 20px;
    z-index: 10;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 400px;
}

header ul {
    margin: 0;
    padding: 0;
}

header .mainmenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    list-style: none;
    text-wrap: nowrap;
}

header .mainmenu li {
    display: inline;
    padding: 7px;
    /*
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    */
    border-radius: 0px;
    width: 95%;
}

header .mainmenu li:hover .submenu {
    background-color: var(--white);
}

header .mainmenu li:has(.submenu) {
    transform: translate(0px, -3px);
}

header .submenu {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    padding: 6px;
    margin: 0;
    /*background-color:var(--white);*/
    /*border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translate(-10px, 0px);
    transition: max-height .3s ease-in-out, opacity .2s ease-in-out, transform .2s ease-in-out;
}

header .submenu li a {
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
}

header ul li:hover .submenu {
    max-height: 200px;
    /* Adjust based on number of submenu items */
    opacity: 1;
    transform: translate(-10px, 5px);
}

@media(min-width:1250px){

}

@media(max-width:1249px){
    nav .mainmenu{
        width: 20%;
    }
}