
body{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-style: normal;
    color: var(--primary);
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center ;
    gap: 100px;
    padding: 20px;
}

h1{
    color: var(--primary);
    font-size:3.25em;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1;
    margin-bottom: 10px;
    margin-top: 10px;
}

article{    
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-grow: 1;
    padding: 0px;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 90%;
    border-radius: 3px;
}
article * {
    margin: 20PX;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 400px;
}
ul{
    margin: 0;
    padding: 0;
}
.mainmenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    list-style: none;
}
.mainmenu li {
    display: inline;
    padding: 7px;
    /*
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    */
    border-radius: 0px;
    width: 95%;
}

.mainmenu li:hover .submenu{
    background-color: var(--white);
}
.mainmenu li:hover{
    background-color: var(--accent);
}

.submenu {
    display: flex;
    align-items: center;
    flex-direction: column;
    position:absolute;
    padding: 6px;
    margin: 0;
    /*background-color:var(--white);*/
    /*border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;*/
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transform: translate(-10px, 0px);
    transition: max-height .3s ease-in-out, opacity .2s ease-in-out, transform .2s ease-in-out;

}

.submenu li a {
    padding: 10px 20px;
    margin: 5px;
    text-align: center;
    border-radius: 10px;
}

ul li:hover .submenu {
    max-height: 200px; /* Adjust based on number of submenu items */
    opacity: 1;
    transform: translate(-10px, 5px);
}

a{
    text-align: center;
    width:100%;
    min-width: 70px;
    text-decoration: none;
    font-weight: 500;
    color:var(--primary);
}


footer{
    display: grid;
    grid-template-columns: 16.6% 16.6% 16.6% 16.6% 16.6% 16.6% ;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
    padding: 20px;
}

footer h3{
    display: inline;
    margin: 0;
    padding: 0;
}

.footer-menu{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    align-items: center;
}
.footer-menu li{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.footer-submenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-title{
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}
.social-media-menu{
    display: flex;
    list-style: none;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.heading-font{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

h2.heading-font{
    font-size: 2.25em;
}

.drop-shadow{
    box-shadow: 0px 3px 6px var(--beige-black);
}

body {
    background-color: var(--background);
}

header, footer{
    background-color: var(--white);
}

.article-header{
    margin: 0;
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: var(--secondary);
    color: var(--white);
    font-variant: small-caps;
}
.article-header *{
    margin: .7em;
}
.flex{
    display: flex;
}
.horizontal{
    flex-direction: horizontal;
}

.button{
    padding: 5px;
    margin:0px;
    border-radius: 3px;
}
.button.light{
    background-color: var(--accent);
}
.alert-box{
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accent);
}
.alert-box button{
    background: none;
}

.invisible{
    opacity: 0;
    pointer-events: none;
    cursor: default;
}