<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=jekyl, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="{{site.url}}/assets/images/favicon.png">
    <link rel="stylesheet" href="{{ site.url }}/assets/css/styles.css">
    <script src="{{site.url}}/assets/js/menu.js" defer></script>
    <title>{{page.title}}</title>
    <style>
        header{
            background-image: url('{{ site.url }}/assets/images/churchpic-scaled.webp');
            background-size: cover;
        }
    </style>
</head>
<body>
    {% include test-site.html %}
    {% include header.html %}
    <main>
        {{ content }}
    </main>
    {% include footer.html %}
</body>
</html>